.Pokecard {
  /* display: inline-block; */
  /* border: 2px solid teal; */
  border-radius: 10px;
  padding: 0 20px;
  width: 200px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: #fff;
  text-align: center;
}

.Pokecard-data__exp {
  font-weight: bold;
  color: rgb(6, 194, 194);
}

.Pokecard-image {
  background-color: azure;
}

.Pokecard-image img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all ease-in 300ms;
  opacity: 0.85;
}

.Pokecard-image img:active{
  opacity: 1;
  transform: scale(1.5);
  transition: all ease-in 100ms;
}